.App {
  color: white;
}

header {
  background-color: #0d4995;
  text-align: left;
  height: 50px;
  padding: 20px;
}

.keypad-container {
  background: transparent;
  display: inline-block;
  float: left;
  height: 500px;
  width: 200px;
  margin: 6% 6% 6% 10%;
}

.keypad input {
  font-size: 30px;
  width: 60px;
  height: 60px;
  margin: 12px;
  border-radius: 10%;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  outline: 0;
  transition: all 170ms ease-out;
}

.keypad input:hover, .keypad input.requested {
  background-color: white;
  color: #0d4995;
}

.keypad-container p {
  text-align: center;
}

.building-container {
  background: transparent;
  display: inline-block;
  float: left;
  height: 500px;
  margin: 1% 2% 1% 1%;
  width: 47%;
}
table {
  padding: 0% 7% 0% 7%;
  margin: 5% 40% 0%;
  border: 2px solid white;
  border-spacing: 0px 5px;
  background: transparent;
}

td {
  border: 1px solid white;
  height: 35px;
  width: 40px;
  text-align: center;
  background: transparent;
  color: white;
  border-radius: 10%;
}

td.visited {
  background: white;
  color: #0d4995;
}
