header {
    text-align: center;
    height: 50px;
    padding: 2px 25px 1%;
    background: #0d4995;
    color: #fff;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

h3 {
  color: #0d4995;
  text-align:center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 10%;
}

span {
  font-size: 350%;
}
/* HOLDS ALL OF THE COMPONENTS*/
.content-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}
/* THE ELEVATOR COMPONENT THAT REPRESENTS THE BUILDING*/
.building-container {
  background: transparent;
  display: inline-block;
  float: left;
  height: 500px;
  margin-right: 1%;
  width: 44%;
}
/* ELEVATOR BUILDING STYLING*/
table {
  padding-left: 10%;
  padding-right: 10%;
  margin:auto;
  border: 2px solid white;
  border-spacing: 30px 10px;
  background: transparent;
}

td {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  text-align: center;
  background: transparent;
  color: transparent;
  border-radius: 10%;
}

td.visited {
  background: white;
  color: #0d4995;
}

/* A DIV WITHIN THE ELEVATOR LOGIC COMPONENT*/
.current-floor-container {
  background: white;
  opacity: 0.9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: inline-block;
  float: left;
  height: 250px;
  margin-bottom: 1%;
  width: 54%;
}
/* KEYPAD STYLING*/
.keypad-container {
  background: transparent;
  display: inline-block;
  float: left;
  height: 250px;
  width: 54%;
}
.keypad {
  margin-left: 1.5%;
}

.keypad input {
  font-size: 30px;
  width: 75px;
  height: 75px;
  margin: 2%;
  border-radius: 10%;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  outline: 0;
  transition: all 170ms ease-out;
}

.keypad input:hover {
  background-color: white;
  color: #0d4995;
}

.keypad input.requested {
  background-color: orange;
  color: white;
}

p {
  text-align:center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 2%;
}
